# YAML configuration file for the timer_main.py program.
# Sending SIGHUP to the program will cause it to reload the configuration
# file. This should only be used to update schedules. If changes are
# made to the MQTT parameters, then the program should be restarted.
 
# The mqtt block contains the hostname and port for the MQTT broker,
# and the topic the program will subscribe to, in order to listen for
# responses from the remotes:

mqtt:
  broker: z21
  port: 1883
  topic: timer_main

# The remotes block contains a sub-block for each remote timer to be managed. 
# Timer names must be unique. Each timer has the following properties
# (property names must be lower case):
#   sched   - A list of lists, denoting on/off times and days. Details below.
#   enabled - Optional true or false; defaults to true if not given,
#             case insensitive.
#   random  - Optional integer; defaults to zero if not given.
#             This is the maximum number of minutes the time may be adjusted
#             to give a "lived-in" look when timing lights. A different
#             random adjustment is calculated daily.
#             The random feature is not implemented yet.
#
# Each sched sub-list item consists of three positional items, in this order:
#   Time  - A 24-hour time, represented as an integer, hhmm, without
#           a colon. Do not use leading zeros; this will cause the time
#           to be interpreted as octal!
#   State - On, off, true or false. Case insensitive.
#   Days  - A space-separated list of days giving the days the schedule
#           item is effective. Case insensitive.
#           Allowed values are sun, mon, tue, wed, thu, fri, sat, all,
#           weekdays and weekends. Other values are silently ignored.

remotes:
  picow2:
    sched: [
      [1405, on, fri],
      [1410, off, fri],
      [1415, on, fri], 
      [1420, off, fri],
      [1425, on, fri], 
      [1430, off, fri],
      [1435, on, fri], 
      [1440, off, fri],
      [1445, on, fri], 
      [1450, off, fri],
      [1455, on, fri], 
      [1500, off, fri],
      [1505, on, fri],
      [1510, off, fri],
      [1515, on, fri], 
      [1520, off, fri],
      [1525, on, fri], 
      [1530, off, fri],
      [1535, on, fri], 
      [1540, off, fri],
      [1545, on, fri], 
      [1550, off, fri],
      [1555, on, fri], 
      [1600, off, fri],
      [1615, on, fri],
      [1630, off, fri],
      [1645, on, fri],
      [1700, off, fri],
      [1715, on, fri],
      [1730, off, fri],
      [1745, on, fri],
      [1800, off, fri],
      [1815, on, fri],
      [1830, off, fri],
      [1845, on, fri],
      [1900, off, fri],
      [1915, on, fri],
      [1930, off, fri],
      [1945, on, fri],
      [2000, off, fri],
      [2015, on, fri],
      [2030, off, fri],
      [2045, on, fri],
      [2100, off, fri],
      [2115, on, fri],
      [2130, off, fri],
      [2145, on, fri],
      [2200, off, fri],
      [2215, on, fri],
      [2230, off, fri],
      [2245, on, fri] ]

  dehumidifier:
    enabled: false
    sched: [
      [1400, off, weekdays],
      [1900, on,  weekdays] ]

  lamp_timer:
    enabled: false
    random: 30
    sched: [
      [600, on, all],
      [830, off, all],
      [1800, on, all],
      [2300, off, all] ]
