# YAML configuration file for the timer_main.py program.
# Sending SIGHUP to the program will cause it to reload the configuration
# file. This should only be used to update schedules. If changes are
# made to the MQTT parameters, then the program should be restarted.

# The mqtt block contains the hostname and port for the MQTT broker,
# and the topic the program will subscribe to, in order to listen for
# responses from the remotes:

mqtt:
  broker: your_broker_hostname
  port: 1883  # or as desired
  topic: timer_main  # or as desired

# The remotes block contains a sub-block for each remote timer to be managed.
# Timer names must be unique. Each timer has the following properties
# (property names must be lower case):
#   sched   - A list of lists, denoting on/off times and days. Details below.
#   enabled - Optional true or false; defaults to true if not given,
#             case insensitive.
#   random  - Optional integer; defaults to zero if not given.
#             This is the maximum number of minutes the time may be adjusted
#             (plus or minus) to give a "lived-in" look when timing lights.
#             A different random adjustment is calculated daily.
#
# Each sched sub-list item consists of three positional items, in this order:
#   Time  - A 24-hour time, represented as an integer, hhmm, without
#           a colon. Do not use leading zeros; this will cause the time
#           to be interpreted as octal!
#   State - On, off, true or false. Case insensitive.
#   Days  - A space-separated list of days giving the days the schedule
#           item is effective. Case insensitive.
#           Allowed values are sun, mon, tue, wed, thu, fri, sat, all,
#           weekdays and weekends. Other values are silently ignored.
#
# CAUTIONS WHEN USING THE RANDOM FEATURE:
# (1) Be aware of how randomization can interact with schedule times. If a
#     randomized time would occur in the previous day, then it is set to 00:00.
#     If it would occur in the next day, then it is set to 23:59.
# (2) If on/off events are scheduled to occur closer together than the random
#     value, then the resulting schedule may not function as desired. The
#     program does not check for this condition.
# (3) Randomized schedules are regenerated daily at midnight, so that they
#     change day to day.

remotes:

  remote1:
    enabled: true
    sched: [
      [600, on, all],
      [800, off, all],
      [1800, on, all],
      [2200, off, all] ]

  remote2:
    enabled: true
    random: 30
    sched: [
      [500, on, weekdays],
      [900, off, weekdays],
      [1700, on, weekdays],
      [2300, off, weekdays] ]
