# YAML configuration file for remote timers.
#
# Each timer is denoted by a unique name starting in column 1.
# Each timer has the following properties. Property names must be lower case:
#   sched  - A list of lists, denoting on/off times and days.
#   random - An optional property which defaults to zero if not given.
#            This is the maximum number of minutes the time may be adjusted
#            to give a "lived-in" look when timing lights. A different
#            random adjustment is calculated daily.
#            The random feature is not implemented yet.
#
# Each sched sub-list consists of three positional items, in this order:
#   Time  - A 24-hour time, represented as an integer, hhmm, without
#           a colon. Do not use leading zeros; this will cause the time
#           to be interpreted as octal!
#   State - On, off, true or false. Case insensitive.
#   Days  - A space-separated list of days giving the days the schedule
#           item is effective. Case insensitive.
#           Allowed values are sun, mon, tue, wed, thu, fri, sat, all,
#           weekdays and weekends. Other values are silently ignored.

picow2:
  sched: [
    [1440, off, wed],
    [1445, on, wed], 
    [1450, off, wed],
    [1455, on, wed],
    [1500, off, wed], 
    [1505, on, wed],
    [1510, off, wed], 
    [1515, on, wed],
    [1520, off, wed], 
    [1525, on, wed],
    [1530, off, wed], 
    [1535, on, wed],
    [1540, off, wed], 
    [1545, on, wed],
    [1550, off, wed], 
    [1555, on, wed],
    [1600, off, wed] ]
