# YAML configuration file for the timer_main.py program.
# Sending SIGHUP to the program will cause it to reload the configuration
# file. This should only be used to update schedules. If changes are
# made to the MQTT parameters, then the program should be restarted.

# The mqtt block contains the hostname and port for the MQTT broker,
# and the topic the program will subscribe to, in order to listen for
# responses from the remotes:

mqtt:
  broker: z21
  port: 1883
  topic: timer_main

# The remotes block contains a sub-block for each remote timer to be managed.
# Timer names must be unique. Each timer has the following properties
# (property names must be lower case):
#   sched   - A list of lists, denoting on/off times and days. Details below.
#   enabled - Optional true or false; defaults to true if not given,
#             case insensitive.
#   random  - Optional integer; defaults to zero if not given.
#             This is the maximum number of minutes the time may be adjusted
#             to give a "lived-in" look when timing lights. A different
#             random adjustment is calculated daily.
#             The random feature is not implemented yet.
#
# Each sched sub-list item consists of three positional items, in this order:
#   Time  - A 24-hour time, represented as an integer, hhmm, without
#           a colon. Do not use leading zeros; this will cause the time
#           to be interpreted as octal!
#   State - On, off, true or false. Case insensitive.
#   Days  - A space-separated list of days giving the days the schedule
#           item is effective. Case insensitive.
#           Allowed values are sun, mon, tue, wed, thu, fri, sat, all,
#           weekdays and weekends. Other values are silently ignored.

remotes:
  dehumidifier:
    enabled: false
    sched: [
      [1400, off, weekdays],
      [1900, on,  weekdays] ]

  pico2w1:
    enabled: true
    sched: [
      [600, on, all],
      [800, off, all],
      [1830, on, all],
      [2130, off, all] ]

  pico2w2:
    enabled: true
    sched: [
      [0, off, all],
      [5, on, all],
      [10, off, all],
      [15, on, all],
      [20, off, all],
      [25, on, all],
      [30, off, all],
      [35, on, all],
      [40, off, all],
      [45, on, all],
      [50, off, all],
      [55, on, all],
      [100, off, all],
      [105, on, all],
      [110, off, all],
      [115, on, all],
      [120, off, all],
      [125, on, all],
      [130, off, all],
      [135, on, all],
      [140, off, all],
      [145, on, all],
      [150, off, all],
      [155, on, all],
      [200, off, all],
      [205, on, all],
      [210, off, all],
      [215, on, all],
      [220, off, all],
      [225, on, all],
      [230, off, all],
      [235, on, all],
      [240, off, all],
      [245, on, all],
      [250, off, all],
      [255, on, all],
      [300, off, all],
      [305, on, all],
      [310, off, all],
      [315, on, all],
      [320, off, all],
      [325, on, all],
      [330, off, all],
      [335, on, all],
      [340, off, all],
      [345, on, all],
      [350, off, all],
      [355, on, all],
      [400, off, all],
      [405, on, all],
      [410, off, all],
      [415, on, all],
      [420, off, all],
      [425, on, all],
      [430, off, all],
      [435, on, all],
      [440, off, all],
      [445, on, all],
      [450, off, all],
      [455, on, all],
      [500, off, all],
      [505, on, all],
      [510, off, all],
      [515, on, all],
      [520, off, all],
      [525, on, all],
      [530, off, all],
      [535, on, all],
      [540, off, all],
      [545, on, all],
      [550, off, all],
      [555, on, all],
      [600, off, all],
      [605, on, all],
      [610, off, all],
      [615, on, all],
      [620, off, all],
      [625, on, all],
      [630, off, all],
      [635, on, all],
      [640, off, all],
      [645, on, all],
      [650, off, all],
      [655, on, all],
      [700, off, all],
      [705, on, all],
      [710, off, all],
      [715, on, all],
      [720, off, all],
      [725, on, all],
      [730, off, all],
      [735, on, all],
      [740, off, all],
      [745, on, all],
      [750, off, all],
      [755, on, all],
      [800, off, all],
      [805, on, all],
      [810, off, all],
      [815, on, all],
      [820, off, all],
      [825, on, all],
      [830, off, all],
      [835, on, all],
      [840, off, all],
      [845, on, all],
      [850, off, all],
      [855, on, all],
      [900, off, all],
      [905, on, all],
      [910, off, all],
      [915, on, all],
      [920, off, all],
      [925, on, all],
      [930, off, all],
      [935, on, all],
      [940, off, all],
      [945, on, all],
      [950, off, all],
      [955, on, all],
      [1000, off, all],
      [1005, on, all],
      [1010, off, all],
      [1015, on, all],
      [1020, off, all],
      [1025, on, all],
      [1030, off, all],
      [1035, on, all],
      [1040, off, all],
      [1045, on, all],
      [1050, off, all],
      [1055, on, all],
      [1100, off, all],
      [1105, on, all],
      [1110, off, all],
      [1115, on, all],
      [1120, off, all],
      [1125, on, all],
      [1130, off, all],
      [1135, on, all],
      [1140, off, all],
      [1145, on, all],
      [1150, off, all],
      [1155, on, all],
      [1200, off, all],
      [1205, on, all],
      [1210, off, all],
      [1215, on, all],
      [1220, off, all],
      [1225, on, all],
      [1230, off, all],
      [1235, on, all],
      [1240, off, all],
      [1245, on, all],
      [1250, off, all],
      [1255, on, all],
      [1300, off, all],
      [1305, on, all],
      [1310, off, all],
      [1315, on, all],
      [1320, off, all],
      [1325, on, all],
      [1330, off, all],
      [1335, on, all],
      [1340, off, all],
      [1345, on, all],
      [1350, off, all],
      [1355, on, all],
      [1400, off, all],
      [1405, on, all],
      [1410, off, all],
      [1415, on, all],
      [1420, off, all],
      [1425, on, all],
      [1430, off, all],
      [1435, on, all],
      [1440, off, all],
      [1445, on, all],
      [1450, off, all],
      [1455, on, all],
      [1500, off, all],
      [1505, on, all],
      [1510, off, all],
      [1515, on, all],
      [1520, off, all],
      [1525, on, all],
      [1530, off, all],
      [1535, on, all],
      [1540, off, all],
      [1545, on, all],
      [1550, off, all],
      [1555, on, all],
      [1600, off, all],
      [1605, on, all],
      [1610, off, all],
      [1615, on, all],
      [1620, off, all],
      [1625, on, all],
      [1630, off, all],
      [1635, on, all],
      [1640, off, all],
      [1645, on, all],
      [1650, off, all],
      [1655, on, all],
      [1700, off, all],
      [1705, on, all],
      [1710, off, all],
      [1715, on, all],
      [1720, off, all],
      [1725, on, all],
      [1730, off, all],
      [1735, on, all],
      [1740, off, all],
      [1745, on, all],
      [1750, off, all],
      [1755, on, all],
      [1800, off, all],
      [1805, on, all],
      [1810, off, all],
      [1815, on, all],
      [1820, off, all],
      [1825, on, all],
      [1830, off, all],
      [1835, on, all],
      [1840, off, all],
      [1845, on, all],
      [1850, off, all],
      [1855, on, all],
      [1900, off, all],
      [1905, on, all],
      [1910, off, all],
      [1915, on, all],
      [1920, off, all],
      [1925, on, all],
      [1930, off, all],
      [1935, on, all],
      [1940, off, all],
      [1945, on, all],
      [1950, off, all],
      [1955, on, all],
      [2000, off, all],
      [2005, on, all],
      [2010, off, all],
      [2015, on, all],
      [2020, off, all],
      [2025, on, all],
      [2030, off, all],
      [2035, on, all],
      [2040, off, all],
      [2045, on, all],
      [2050, off, all],
      [2055, on, all],
      [2100, off, all],
      [2105, on, all],
      [2110, off, all],
      [2115, on, all],
      [2120, off, all],
      [2125, on, all],
      [2130, off, all],
      [2135, on, all],
      [2140, off, all],
      [2145, on, all],
      [2150, off, all],
      [2155, on, all],
      [2200, off, all],
      [2205, on, all],
      [2210, off, all],
      [2215, on, all],
      [2220, off, all],
      [2225, on, all],
      [2230, off, all],
      [2235, on, all],
      [2240, off, all],
      [2245, on, all],
      [2250, off, all],
      [2255, on, all],
      [2300, off, all],
      [2305, on, all],
      [2310, off, all],
      [2315, on, all],
      [2320, off, all],
      [2325, on, all],
      [2330, off, all],
      [2335, on, all],
      [2340, off, all],
      [2345, on, all],
      [2350, off, all],
      [2355, on, all] ]
